#instruments {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

#compass {
	order: 1;
	height: 90%;
}

#sidebar {
	order: 2;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

#latlong {
	order: 1;
	height: 20%;
}

#sog {
	order: 2;
	height: 12.5%;
}